<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :all, data: { custom_attribute: true } %>
    <%= stylesheet_link_tag :app, data: { glob_attribute: true } %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
